<h1>Welcome to Quoting Dojo</h1>
<% if(typeof(errors) != 'undefined' ) { %>
    <% for (var x in errors) { %>
     <h3><%= errors[x].message %></h3>
    <% } %>
<% } %>
<form action="/process" method="POST">
Your Name:
<br>
<input type="text" name="name" id="name">
<br>
Your Quote:
<br>
<textarea name="text" id="text" cols="30"></textarea>
<br>
<input type="submit" value="Add my quote!">
</form>
<a href="/quotes"><button>Skip to quotes</button></a>